<% require("awesome_print") %>

<html>

<head>

<title>test_framework</title>

<script type="text/javascript" src="javascript/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="javascript/fw.js"></script>
<script type="text/javascript">

</script>

</head>

<body>
	<p><%= @ticket %></p>
	<h1>Join Game</h1>
	<%= @site.apps.size %>
	<% @site.apps.each {|id, app| %>
		<p><a class="app">app <%= id %></a></p>
	<% } %>
		
</body>

</html>
