<html>
	<head>
		<script type="text/javascript" src="/javascript/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="/javascript/fw.js"></script>
		<script type="text/javascript">
		
		</script>
	</head>
	<body>
		<h1>Configure Scrabble Game</h1>
		<label for="player_count">Player Count</label>
		<select id="player_count">
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
		<button id="submit_config" type="button">OK</button>
		<script>
			var FW = window.parent.FW
			$("#submit_config").on("click", function(){
				var game_config = {
					"player_count": $("#player_count").val()
				};
				FW.myConnection.sendJSONRPC("new_app", ["Scrabble", game_config], function(rpc) {
					var app_id = rpc.result
					FW.myConnection.sendJSONRPC("join_app", [FW.myConnection.user, app_id], function(rpc){
						window.parent.$("#app_window").prop("src", ("/app/scrabble.htm?id=" + app_id));
					});
				});
				
			});
		</script>
	</body>
</html>
